@import "theme";

$neon-background: linear-gradient(
  to right,
  get-theme-resource($color-accent, $theme-light),
  get-theme-resource($color-accent, $theme-dark)
);
$neon-background__hover: linear-gradient(
  to right,
  lighten(get-theme-resource($color-accent, $theme-light), 10),
  lighten(get-theme-resource($color-accent, $theme-dark), 10)
);
$neon-box-shadow: transparent;

@mixin neon-button() {
  @include theme-resource("border", $color-accent, 1, true, "1pt solid");
  background: transparent;

  &:hover {
    @include theme-resource("background", $color-accent);

    a {
      @include theme-resource("color", $color);
    }
  }

  &,
  * {
    @include theme-resource("color", $color-accent);
  }
}
