@import "../../styles/theme";
@import "../../styles/responsive";

.privacy {
  display: flex;
  flex-direction: column;
  text-align: justify;
  line-height: 1.5em;
  padding: 0 1em;

  @include respond-to("medium") {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "section section"
      "aside article";
    padding: 0 4em;
  }

  @include respond-to("large") {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "section section right"
      "aside article right";
  }

  a {
    @include theme-resource("color", $color-accent);

    &:hover {
      text-decoration: underline;
    }
  }

  aside {
    display: none;
    grid-area: aside;

    @include respond-to("medium") {
      display: flex;
      flex-direction: column;
    }

    ul {
      list-style: none;
      margin: 0;
      padding-left: 1em;
      text-indent: -1em;

      li {
        margin-top: 1em;

        &:before {
          content: "•";
          @include theme-resource("color", $color, 0.8);
          padding-right: 0.5em;
        }

        a {
          @include theme-resource("color", $color, 0.8);
        }
      }
    }
  }

  span {
    font-size: 1em;
    margin-bottom: 1em;
  }

  article {
    grid-area: article;

    h4 {
      margin: 1em 0;
    }
  }

  section {
    grid-area: section;
  }
}
