@import '../../styles/mixins';

.nav {
    @include theme('background', $background);
    box-shadow: 0 .25em .5em rgba(#000, .2);
    display: flex;
    flex-direction: row;
    padding: .5em;
    position: sticky;
    top: 0;

    a {
        font-size: 1em;
        font-weight: 100;
        margin-right: 2em;
        padding: 4pt 0 4pt 0;

        &[id="-1"] {
            font-weight: 500;
        }

        &:hover {
            @include theme('box-shadow', $color, 1, true, '0 2px 0');
        }
        
        &.active:not([id="-1"]) {
            @include theme('color', $accent-color);
            @include theme('box-shadow', $accent-color, 1, true, '0 2px');
            font-weight: 500;
        }
    }

    header {
        align-items: center;
        display: flex;

        @include respond-to('small') {
            align-items: center;
            display: flex;
            flex-direction: row;;
        }

        img {
            max-height: 1.5em;
            margin-right: 2pt;
        }
        
        span {
            @include theme('box-shadow', $color, .2, true, '.05em 0 0');
            font-size: 1.25em;
            font-weight: 500;
            letter-spacing: -1pt;
            margin: 0;
            padding: 4pt 1em 4pt 0;
        }
        
        a {
            padding: 6pt 0 6pt 0;
            margin-left: 1em;
        }
    }

    .content {
        animation: content-opening .2s;
        display: none;
        opacity: 0;

        @include respond-to('small') {
            display: flex;
            opacity: 1;
            flex-direction: row;
            padding-left: 1.25em;
        }
        
        &.open {
            @include theme('background', $background);
            display: flex;
            flex-direction: column;
            height: 100vh;
            left: 0;
            opacity: 1;
            padding: 2em;
            position: fixed;
            top: 0;
            width: 100vw;
        
            a {
                padding: 1em 0;
            }
        }

        @keyframes content-opening {
            from { opacity: 0; }
            to { opacity: 1; }
        }
    }

    .navigation {
        align-self: center;
        background: transparent;
        border: none;
        display: block;
        margin-left: auto;
        outline: none;
        padding: 0;
        height: 2em;
        width: 2em;

        @include respond-to('small') {
            display: none;
        }

        img {
            align-self: center;

            @media (prefers-color-scheme: dark) {
                filter: invert(100%);
            }
        }

        &:hover {
            @include theme('background', $accent-color);

            img {
                filter: invert(100%);
            }
        }

        &.open {
            z-index: 100;
        }
    }    
}